# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
/build
/dist
*.vsix

# Logs
*.log

# Testing
coverage/

# TypeScript
*.tsbuildinfo
out/

# VS Code
.vscode-test/

# IDE
.vscode/settings.json
.idea/
.DS_Store

# Temp
*.tmp
