.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
npm-debug.log
.DS_Store
*.vsix
.env
backup/**
temp/**
test/**
README.md
.git/**
**/*.test.js
**/*.test.ts
